streamlit
llama-index
langchain==0.0.350
huggingface-hub
transformers
python-dotenv
groq
llama-index
streamlit
nltk
langchain-groq
langchain_community
requests
beautifulsoup4
llama-index-llms-langchain
sentence-transformers
llama_index.embeddings.huggingface
